
@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<form id="login" name="login" method="post">
    <input type="text" name="login" /><br />
    <input type="password" name="password" /> <br />
    <input type="submit" value="Zaloguj" /><br />
</form>
<br />
<script>
        var exampleStudent = {
            ID: 12,
            Name: 'foo bar'
        };
        window.invokeFetchPOST.onclick = function () {
            // https://developer.mozilla.org/enUS/docs/Web/API/Fetch_API/Using_Fetch
            fetch('/api/Student', {
                method: 'POST',
                headers: {
                    'Content-type': 'application/json',
                    'api_key': '123'
                },
                body: JSON.stringify(exampleStudent),
                credentials: "include"
            })
                .then(function (result) {
                    return result.text();
                })
        };
</script>