<head>
    <title>strona</title>>
</head>

<body>
    <%- include('zadanie2s.ejs', {
        name1: 'asda',
        options: [
        { val : '1'},
        { val : '2'},
        { val : '3'}
        ]
        }) %>
</body>

</html>