<!DOCTYPE html>
<head>
</head>
<body>
    <form action="wysylane" method="post" enctype="multipart/form-data">
        <input type="file" name="wyslane" />
        <input type="submit" name="wyslij" value="Wyślij" />
      </form>
</body>
</html>