
@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm("Index", "Default", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        @Html.TextBox("file", "", new { type = "file" }) <br />
        <input type="submit" value="Wyślij" />
        @ViewBag.Message
    </div>
}


