
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form method="post">
    Imie
    <input type="text" name="Imie">
    Nazwisko
    <input type="text" name="Nazwisko">
    Data
    <input type="text" name="Data">
    Zajecia
    <input type="text" name="Zajecia">
    Zestaw
    <input type="text" name="Zestaw">
    <br />
    1<input type="text" name="TextBox1">
    2<input type="text" name="TextBox2">
    3<input type="text" name="TextBox3">
    4<input type="text" name="TextBox4">
    5<input type="text" name="TextBox5">
    6<input type="text" name="TextBox6">
    7<input type="text" name="TextBox7">
    8<input type="text" name="TextBox8">
    9<input type="text" name="TextBox9">
    10<input type="text" name="TextBox10">
    <br />
    <input type="submit" value="buton" />
</form>